@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(107.81deg, #4075c5 9.15%, #3e0f63 93.09%);
}
$colorGreen: #6fb557;
$colorPurple: #8c57b5;
$hover: #3e971f;
$hover2: #7533a9;
$hover3: #7c1d58;
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1000px;
}
.card {
  background-color: black;
  margin: 100px auto 20px auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  min-width: 360px;
  max-width: 360px;
  height: 648px;
  border: 1px solid #0f8df5;
  box-shadow: 0px 0px 94px rgba(36, 206, 243, 0.88);
  border-radius: 22px;
}
@media screen and (max-width: 700px) {
  .card {
    margin: 10px auto 20px auto;
  }
}
.topwrapper {
  display: flex;
  justify-content: space-between;
  .top_left {
    p {
      width: 99px;
      padding: 10px;
      text-align: center;
      background-color: $colorPurple;
      border-radius: 10px;
      cursor: pointer;
    }
    p:hover {
      background: $hover2;
    }
  }
  .top_right {
    text-align: left;
    :nth-child(2) {
      color: $colorPurple;
    }
  }
}

section,
.title,
p {
  text-align: center;
}
.box {
  align-items: center;
  justify-content: center;
  border: 1px solid #c4c4c4;
  width: 200px;
  border-radius: 5px;
  margin: 10px auto;
  h2 {
    font-size: 105.939px;
  }
}
.inputbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .input_number {
    appearance: none;
    margin: 10px 0;
    width: 223px;
    color: black;
    font-weight: bold;
    height: 55px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
  }
}
.guess {
  font-size: 15px;
  margin-bottom: 5px;
}
.check {
  margin: 8px 0 15px 0;
  width: 100%;
  background: $colorGreen;
  font-size: 44.6441px;
  line-height: 57px;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}
.check:hover {
  background: $hover;
}
section {
  margin-top: 20px;
  .title {
    position: relative;
    margin: 10px 0;
    font-size: 40px;
    line-height: 57px;

    color: #ffffff;
  }
}
.author {
  font-size: 14px;
  color: #c4c4c4;
}
.authorright {
  a {
    color: rgb(65, 132, 231);
    text-decoration: none;
  }
  a:hover {
    color: rgb(113, 164, 240);
  }
  margin: 0 0 20px 0;
}
/* Hover*/

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);

    transform: translate3d(0, -30px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);

    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
